<!-- Alana Harmon -->

body{
	background-color: #BDBDBD;
}
button{
	padding: 20px;
}

div.floor{
	background-color: #0F0F0A;
	display:none;
	width: 100%;
	height: 20px;
	}
.center{
	margin: auto;
	width: 10%;
	padding: 10px;
	}
.start{
	margin: auto;
	width: 60%;
	padding: 10px;
	}

<!-- ID -->
#options{
	font-size: 44px;
	}