

body{
	background-color: #BDBDBD;
}
button{
	padding: 20px;
}
li{
	display: inline;
	border-style: solid;
}

div.floor{
	background-color: #0F0F0A;
	display:none;
	width: 100%;
	height: 20px;
	}

#options{
	font-size: 44px;
	}
#startBtn{
	margin: auto;
	width: 100%;
	padding: 10px;
}	